<header>
    <nav class="navbar" style="background-color: #e3f2fd;">
        <ul class="nav nav-tabs justify-content-end">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="home">Accueil</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="task-list">Liste des taches</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="task">Crée une tache</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="account">Profil</a>
            </li>
          </ul>
      </nav>
</header>





<footer>
    
</footer>