 <header>
    <nav *ngIf="showNavigation" class="navbar  " style="background-color: rgba(0, 93, 155, 0.514);">
      <a class="navbar-brand " href="home">
        <img src="../assets/R.png" alt="logo" width="40" height="40">
      </a>  
      <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link " aria-current="page" href="home" style="color: rgb(241, 241, 241);">Accueil</a>
            </li>
            <li class="nav-item">
              <a class="nav-link  " href="task-list" style="color: rgb(241, 241, 241);">Liste des taches</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="task" style="color: rgb(241, 241, 241);">Crée une tache</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="profil" style="color: rgb(241, 241, 241);">Profil</a>
            </li>
          </ul>
      </nav>

<router-outlet></router-outlet>

<footer *ngIf="showNavigation" class="bg-body-tertiary text-center text-lg-start " style="padding-top:  27em ;">
  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 93, 155, 0.514)">
    © 2020 Copyright:
    <a class="text-body " style=" color: #ebf7ff;" href="https://github.com/Karimdebza">My github</a>
  </div>
  <!-- Copyright -->
</footer>

