<form [formGroup]="profilForm" (ngSubmit)="getUserData()">
    <div>
        <label for="name">Nom:</label>
        <input type="text" id="name" formControlName="name">
        <!-- Affichage des erreurs de validation -->
        <div *ngIf="profilForm.get('name')?.invalid && (profilForm.get('name')?.dirty || profilForm.get('name')?.touched)">
          <div *ngIf="profilForm.get('name')?.errors?.['required']">Le nom est requis</div>
        </div>
      </div>
      <div>
        <label for="email">Email:</label>
        <input type="email" id="email" formControlName="email">
        <!-- Affichage des erreurs de validation -->
        <div *ngIf="profilForm.get('email')?.invalid && (profilForm.get('email')?.dirty || profilForm.get('email')?.touched)">
          <div *ngIf="profilForm.get('email')?.errors?.['required']">L'email est requis</div>
          <div *ngIf="profilForm.get('email')?.errors?.['email']">L'email n'est pas valide</div>
        </div>
      </div>
      <button type="submit" [disabled]="profilForm.invalid">Enregistrer</button>
    </form>