.bg-image {
  background-image: url('../../../assets/R.jpg'); 
  background-size: cover;
  background-position: center;
  height: 100vh; /* Ajuste la hauteur en fonction de la fenêtre visible */
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  max-width: 400px;
  background: rgba(255, 255, 255, 0.8); /* Fond légèrement transparent pour améliorer la lisibilité */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}