<h2 class="mt-3 mb-4">Bienvenue dans notre application de gestion des tâches collaboratives.</h2>
<section class="">
    <div class="features">
        <div class="feature">
            <img src="../../../assets/R.png" width="60" alt="Icone de tâche" class="mb-3">
            <h2 class="mb-3">Gestion des tâches</h2>
            <p class="mb-3">Créez, modifiez et suivez vos tâches facilement.</p>
        </div>
        <button type="button" class="btn btn-primary ms-3 mt-3"><a href="task-list" class="link-light ">acceder à la liste des taches</a></button>
        <button type="button" class="btn btn-primary ms-3 mt-3"><a href="task" class="link-light">Céer une tache!</a></button>
        <button type="button" class="btn btn-primary ms-3 mt-3"><a href="profil" class="link-light">Accedez à votre profil personnel!</a></button>
        
    </div>


</section>


<div id="carouselExampleFade" class="carousel slide carousel-fade w-75 h-50 mt-5 mx-auto p-2 ">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../../assets/R (1).jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item active">
        <img src="../../../assets/markus-winkler-3Rn2EjoAC1g-unsplash.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item active">
        <img src="../../../assets/le-travail-d-equipe-de-l-equipe-reunion-de-collaboration-office-concept-de-reflexion-en7261.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>