<form [formGroup]="registrationForm" (ngSubmit)="createUser()"
 class="card shadow-none p-3 mb-5 bg-body-tertiary rounded " 
 style="width: 55em; margin-left: auto; margin-right: auto; margin-top: 5em;"
>
  <div class="form-group row">
      <label for="name" class="col-sm-2 col-form-label mt-5">Nom:</label>
      <div class="col-sm-5 ">
        <input type="text" class="form-control-plaintext mb-3  mt-5" id="name" placeholder="Nom" formControlName="name" required>
      </div>
  </div>
    <div class="form-group row">
      <label for="email" class="col-sm-2 col-form-label">Email:</label>
      <div class="col-sm-5">
        <input type="email" class="form-control-plaintext mb-3" id="email" formControlName="email" placeholder="adresse email"  required>
      </div>    
    </div>
    <div class="form-group row">
      <label for="password" class="col-sm-2 col-form-label">Mot de passe:</label>
      <div class="col-sm-5">
        <input type="password" class="form-control mb-3" id="password" formControlName="password" placeholder="Password" required>
      </div>
    </div>
    <p class="mb-5">
      vous avez deja un compte?
    <a href="signin"> conectez-vous</a>
  </p>
    <button type="submit" class="btn btn-primary mb-2 ">S'inscrire</button>
  </form>