<div *ngIf="taskList">
    <h2>{{ taskList.title }}</h2>
    <p>Date de création : {{ taskList.date_of_create }}</p>
    <ul>
        <li *ngFor="let task of tasks" class="card w-50 mb-3 shadow-lg bg-body-tertiary rounded">
          <h3>{{ task.name }}</h3>
          <p>{{ task.description }}</p>
          <p>{{ task.date_of_expiry }}</p>
          <p>Date de création : {{ task.date_of_create }}</p>
          <button  class="btn btn-success">edit</button>
          <button (click)="deleteTask(task.id_task)" class="btn btn-danger">delete</button>
        </li>
      </ul>
</div>
