<div *ngIf="taskList">
    <h2>{{ taskList.title }}</h2>
    <p>Date de création : {{ taskList.date_of_create  | date:'yyyy-MM-dd'}}</p>
    <ul>
        <li *ngFor="let task of tasks" class="card w-50 mb-3 shadow-lg bg-body-tertiary rounded">
          <h3>{{ task.name }}</h3>
          <p>{{ task.description }}</p>
          <p> date de expiration: {{ task.date_of_expiry | date:'yyyy-MM-dd'}}</p>
          <p>Date de création: {{ task.date_of_create | date:'yyyy-MM-dd'}}</p>
          <a [routerLink]="['/task/edit', task.id_task]" class="btn btn-success">Modifier</a>
          <button (click)="deleteTask(task.id_task)" class="btn btn-danger">delete</button>
        </li>
      </ul>
      <button class="btn btn-primary" > <a class="link-light" href="/task">create task</a></button>
</div>
