<div class="container">
  <div *ngIf="listForm" class="mt-5">
    <h2 *ngIf="taskListId" class="mb-4">Modifier la liste des tâches</h2>
    <h2 *ngIf="!taskListId" class="mb-4">Créer une nouvelle liste des tâches</h2>
  
    <form [formGroup]="listForm" (ngSubmit)="createListTask()" class="row g-3">
      <div class="col-md-6">
        <label for="title" class="form-label">Nom de la liste des tâches :</label>
        <input type="text" id="title" class="form-control" formControlName="title">
      </div>
  
      <div class="col-md-6">
        <label for="date_of_create" class="form-label">Date de création :</label>
        <input type="date" id="date_of_create" class="form-control" formControlName="date_of_create">
      </div>
  
      <div class="col-md-6">
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="is_public" formControlName="is_public">
          <label class="form-check-label" for="is_public">Rendre la tâche publique</label>
        </div>
      </div>
  
      <div class="col-12">
        <button type="submit" class="btn btn-primary">
          {{ taskListId ? 'Mettre à jour la liste' : 'Créer la liste' }}
        </button>
      </div>
    </form>
  </div>
</div>
