<div class="container">
    <form [formGroup]="taskForm" (ngSubmit)="formTask()" class="card w-75 mx-auto shadow-lg bg-body-tertiary rounded">
      <h2 class="text-center mb-4">Création de Tâche</h2>
  
      <div class="mb-3">
        <label for="name" class="form-label">Nom de la tâche :</label>
        <input type="text" class="form-control" id="name" formControlName="name" placeholder="Entrez le nom de la tâche" required>
      </div>
  
      <div class="mb-3">
        <label for="description" class="form-label">Description :</label>
        <textarea class="form-control" id="description" formControlName="description" placeholder="Entrez la description de la tâche"></textarea>
      </div>
  
      <div class="row g-3">
        <div class="col">
          <label for="date_of_create" class="form-label">Date de création :</label>
          <input type="date" class="form-control" id="date_of_create" formControlName="date_of_create" required>
        </div>
        <div class="col">
          <label for="date_of_expiry" class="form-label">Date d'expiration :</label>
          <input type="date" class="form-control" id="date_of_expiry" formControlName="date_of_expiry" required>
        </div>
      </div>
  
      <div class="mb-3">
        <label for="id_task_list" class="form-label">ID de la liste des tâches :</label>
        <input type="number" class="form-control" id="id_task_list" formControlName="id_task_list" placeholder="Entrez l'ID de la liste des tâches">
      </div>
  
      <div class="d-grid gap-2">
        <button type="submit" class="btn btn-primary">Créer la tâche</button>
      </div>
    </form>
  </div>
  